body,
html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: rgb(32, 93, 172);
    display: grid;
    overflow-x: hidden;
    position: relative;
}

#logo {
    width: 20rem;
    height: auto;
    padding: 0;
    margin: 0;
}

label {
    display: none;
}

h1 {
    color: white;
    text-shadow: 3px 4px rgba(237, 28, 36, 0.6);
    font-size: 3rem;
}

h1,
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#search-bar-wrapper {
    background-image: url('img/starsimage.jpg');
    padding-top: 2rem;
    display: grid;
    place-items: center;
    text-align: center;
    justify-items: center;
    padding-bottom: 2rem;
    border-radius: 20px;
}

#search-bar {
    width: 15rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
}

#search-button {
    width: 8rem;
    height: 1.5rem;
}

#number-of-results {
    display: none;
    color: black;
    font-size: 2rem;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    width: auto;
    padding: 0.5rem;
}

#loading-wrapper {
    padding-top: 1rem;
    display: none;
    place-items: center;
}

#search-results-wrapper {
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    place-items: center;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.info-section {
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.result-card {
    place-items: center;
    align-items: center;
    width: 20rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    max-width: 30rem;
    overflow: hidden;
    border-radius: 25px;
    height: auto;
    background-color: aliceblue;
}

.result-image {
    padding: 0;
    margin: 1rem;
    position: relative;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    width: 90%;
    max-height: 300px;
    height: 100%;
    object-fit: fill;
}

@media only screen and (max-width: 400px) {
    .result-card {
        width: 18rem;
    }
    html,
    body {
        display: grid;
        place-items: center;
        overflow-x: hidden;
    }
    body {
        position: relative;
    }
}